@model MvcApplication8.Models.mymodel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>layout layout</title>
    
</head>
<body>
    <h1>layout</h1>
    @RenderBody()

</body>
</html>
